{% extends 'baseStore.html.twig' %}


{% block body %}
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body" style="text-align: center">
                <h1 style="color: white">Make an order</h1>
            </div>
        </div>
    </div>

    <div class="container-fluid mt--7" id="cont">
        <!-- Table -->
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row">
                            <div class="col-md-9">
                                <select class="form-control " placeholder="Category" style="width: 250px" id="category" onchange="fetchProducts()">
                                    <option value="">Select A Category</option>
                                    {% for catManager in catsManager %}
                                    <option value="{{ catManager.id }}">{{ catManager.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control " placeholder="Search By Name" id="contact-filter">
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive" id="categoriesTable">
                        <table class="table align-items-center table-flush tablesorter tablepager">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">id</th>
                                <th scope="col">name</th>
                                <th scope="col">price</th>
                                <th scope="col">stock</th>
                                <th scope="col" >add to cart</th>
                            </tr>
                            </thead>
                            <tbody id="categoriesBody">
                            <!-- Loop -->

                            <!-- End Loop -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid mt-7" id="cont">
        <!-- Table -->
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row">
                            <div class="col-md-9">
                                <h3 class="mb-0" style="text-align: center">My Cart</h3>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive" id="categoriesTable">
                        <table class="table align-items-center table-flush tablesorter tablepager">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">id</th>
                                <th scope="col">name</th>
                                <th scope="col">unit price</th>
                                <th scope="col">stock</th>
                            </tr>
                            </thead>
                            <tbody id="cartBody">
                            <!-- Loop -->
                            {% set session = app.session.get('products') %}
                            {% if session %}
                                {% for p in session %}
                                <tr>
                                    <td>{{ p.id }}</td>
                                    <td>{{ p.name }}</td>
                                    <td>{{ p.price }}</td>
                                    <td>{{ p.quantityInStock }}</td>
                                </tr>
                                {% endfor %}
                            {% endif %}
                            <!-- End Loop -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
{% block internalJs %}

    <script>
    function fetchProducts() {
       let selectedCat = $('#category');
        $.ajax({
            url:"{{ path('fetch_products') }}",
            method: "GET",
            dataType: 'json',
            data : {id:selectedCat.val()},
            success: (e) => {
                let table = $('#categoriesBody');
                table.empty();
                e.forEach(prod => {
                    table.append(" <tr>\n" +
                        "                                <td>"+ prod.id +"</td>\n" +
                        "                                <td>"+ prod.name +"</td>\n" +
                        "                                <td>"+ prod.price +"</td>\n" +
                        "                                <td>"+ prod.quantityInStock +"</td>\n" +

                        "                                <td>\n" +
                        "                                    <button class=\"badge badge-success\" onclick='addToCart(" + prod.id + ")'>+</button>\n" +
                        "                                </td>\n" +
                        "                            </tr>")
                })
            },
            error : (f) => {
                console.log(f);
            }
        })
    }

    function addToCart(id) {
        console.log(id)
        $.ajax({
            url:"{{ path('save_product_session') }}",
            method: "GET",
            dataType: 'json',
            data : {
                id: id,
            },
            success: (e) => {
                console.log(e)
                let table = $('#cartBody');

                    table.append(
                        " <tr>\n" +
                        "                                <td>" + e.id + "</td>\n" +
                        "                                <td>" +e.name + "</td>\n" +
                        "                                <td>" +e.price + "</td>\n" +
                        "                                <td>" +e.quantityInStock + "</td>\n" +
                        "                            </tr>"
                    )

            },
            error : (f) => {
                console.log(f);
            }
        })
    }
    </script>


{% endblock %}