{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body" style="text-align: center">
                <h1 style="color: white">Add a new configuration</h1>
            </div>
        </div>
    </div>


    <div class="container mt--8 pb-5">
        <!-- Table -->
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="card bg-secondary border-0">

                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center text-muted mb-4">
                        </div>
                        {{ form_start(form) }}
                        <div class="form-group">
                            <div class="input-group input-group-merge input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                </div>
                                {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder':'Enter The Config Name'}}) }}
                            </div>
                        </div>
                            <div class="form-group">
                                <div class="input-group input-group-merge input-group-alternative mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                    </div>
                                    {{ form_widget(form.bonusAmount, {'attr': {'class': 'form-control', 'placeholder':'Enter The Bonus Amount'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-merge input-group-alternative mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                    </div>
                                    {{ form_widget(form.malusAmount, {'attr': {'class': 'form-control', 'placeholder':'Enter The The Malus Amount'}}) }}
                                </div>
                            </div>
                        <div class="form-group">
                            <div class="input-group input-group-merge input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                </div>
                                {{ form_widget(form.checkInTime, {'attr': {'class': 'form-control', 'placeholder':'Enter The Check-in Time'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-merge input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                </div>
                                {{ form_widget(form.checkOutTime, {'attr': {'class': 'form-control', 'placeholder':'Enter The Check-out Time'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-merge input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                </div>
                                {{ form_widget(form.store, {'attr': {'class': 'form-control', 'placeholder':'Enter The Store'}}) }}
                            </div>
                        </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary mt-4">Confirm</button>
                            </div>
                        {{ form_end(form)}}
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}